.footer {
  background: $darker-bg;
  min-height: 205px;
  text-align: center;
  padding-top: 67px;
  font-weight: 500;
  .container {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-column-gap: 40px;
    align-content: top;
  }

  .footer-logo svg {
    width: 120px;
    height: 120px;
    * {
      fill: $light;
    }
  }
  .footer-menu {
    display: flex;
    font-size: 16px;
    flex-wrap: wrap;
    line-height: 2.5;
    li {
      margin-right: 30px;
      white-space: nowrap;
    }
    a {
      color: white;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  p {
    text-align: left;
    color: $light;
    a {
      color: $light;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .contact {
    clear: both;
    margin: 30px 0 0;
  }
  .location {
    margin: 2px 0 30px;
  }

  .socials {
    margin-top: 24px;
    text-align: left;

    li {
      display: inline-block;
      height: 25px;
      width: auto;
      margin-right: 20px;
      a {
        padding: 10px;
      }
      svg {
        vertical-align: middle;
        height: 100%;
      }
      > * {
        fill: white;
      }
    }
  }

  .email {
    // padding-right: 10px;
    // position: relative;
    &::after {
      content: '/';
      display: inline-block;
      // position: absolute;
      margin-left: 8px;
      @include tablet {
        display: none;
      }

    }
  }

  .address span {
    &:not(:last-child)::after {
      content: ',';
      display: inline;
      @include tablet {
        display: none;
      }
    }
  }



  @include tablet {

    padding-top: 10px;


    .container {
      display: block;
    }
    .footer-logo {
      display: none;
    }
    .footer-menu {
      // flex-wrap: wrap;
      line-height: 2;
      display: block;

      // font-size: 14px;
      // display: block;
      line-height: 3;
      // text-align: left;
      // align-items: stretch;
      // justify-content: space-between;
      justify-content: space-between;
      font-size: 14px;

      // text-align: left;
      columns: 2;
      // text-align: left;
      li {
        // flex: 1;
        // display: inline-block;
        // line-height: 1.5;
        white-space: nowrap;
      }
    }
    .socials {
      margin-top: 20px;
      text-align: center;
    }

    p {
      font-size: 14px;
    }

    .email, .phone, .location, .copyright {
      margin: auto;
      text-align: center;;
      display: block;
      width: fit-content;
      margin-bottom: 12px;
    }

    .address span {
      display: block;
    }

    .copyright{
      margin-bottom: 0;
      padding-bottom: 10px;
      &::after {
        content: '';
        display: block;
        clear: both;

      }
    }
  }


}