header {

	background-color: $light-bg;

	.container {
		position: relative;
		height: 100px;
		@include mobile {
			height: auto;
		}
	}
	.logo {
		position: absolute;
		left: 10px;
		z-index: 5;
		width: 90px;
		top: 0;
		margin-top: 10px;
		@include mobile {
			position: static;
		}
	}

	.hamburger {
		display: none;
		@include mobile {
			display: block;
			position: absolute;
			right: 10px;
			top: 20px;

			&:not(.is-active) ~ .navlinks {
				display: none;
			}
		}
	}

	display: grid;

	.navlinks {
		float: right;
		margin-top: 20px;
		font-weight: bold;
		li {
			float: left;
			display: block;
			margin-left: 30px;
			a {
				height: 60px;
				line-height: 60px;
				display: block;
			}
		}

		@include mobile {
			float: none;
			li {
				float: none;
				a {
					height: 50px;
				}
			}
			margin-bottom: 30px;
		}
	}
}
