.banner-homepage {
    height: 500px;
    background-size: cover;
    position: relative;
    .banner-text {
        color: white;
        position: absolute;
        width: 40%;
        bottom: 20px;
        // left: 40px;
    }
}

.about {
    background: $light-bg;
}
.camping {
    background: $light-bg;
    .camping-items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 30px;
        li {
            margin-bottom: 30px;
        }
        h4 {
            color: $primary-color;
            font-weight: bold;
            margin: 10px 0 0;
        }
        p {
            margin: 0;
            color: $black-text;
        }
        @include tablet {
            grid-template-columns: repeat(2, 1fr);
        }

        @include mobile {
            display: block;
            li {
                // margin-bottom: 30px;
                img {
                    height: 260px;
                    width: 100%;
                    object-fit: cover;
                }
                h4 {
                    margin-top: 0;
                }
            }
        }
    }
}

