.features {
    padding-left: 30px;
    li {
        position: relative;
        span {
            margin-left: -30px;
            position: absolute;
            top: 6px;
            &.cross {
                // line-height: 14px;
                margin-top: -2px;
            }
        }
        margin-bottom: 8px;
    }
}

.offerings {
    background: $light-bg;
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 50px;
        row-gap: 40px;

        @include tablet {
            display: block;
        }
    }
    .offering {
        border-top: 4px solid #E8E3D8;
        position: relative;
        .title {
            color: $dark-text;
            font-weight: bold;
            margin: 12px 0 0;
        }
        .subtitle {
            margin-top: 4px;
        }
        .price {
            position: absolute;
            right: 0;
            top: 16px;
        }

        @include tablet {
            margin-bottom: 30px;
        }
    }
}


.extras {
    background: $light-bg;
    padding-top: 0;
    .extra-items {
        columns: 2;
        column-gap: 50px;
        margin-top: 30px;
        @include desktop {
            column-gap: 20px;
        }

        @include tablet {
            columns: initial;
        }
    }
    h3 {
        border-top: 4px solid #E8E3D8;
        padding-top: 16px;
        color: $dark-text;
        font-weight: bold;
        margin-top: 0;
    }
    .extra {
        display: flex;
        padding: 8px 0;
        border-top: 1px solid #E8E3D8;
        border-bottom: 1px solid #E8E3D8;
        margin-bottom: -1px;
        .name {
            flex: 1;
        }
        .price {
            width: fit-content;
        }

    }
}