.photosection {
    background: #2e3e36;

    @include mobile {
        .container {
            padding: 0;
            padding-bottom: 30px;
        }
    }

    .photos {
        columns: 3;
        column-gap: 10px;
        font-size: 0;

        &::after {
            content: '';
            display: block;
        }

        @include desktop {
            columns: 2;
        }
        @include mobile {
            columns: 1;
        }
    }
    .photo {
        display: block;
        margin-bottom: 10px;
        height: auto;
    }
}