
.section.thingstodo {
    background: $light-bg;
    padding-top: 0;
}

.things {
    display: grid;
    column-gap: 40px;

    grid-template-columns: 1fr 1fr 1fr;

    @include desktop {
        grid-template-columns: 1fr 1fr;
    }

    @include large-desktop {
      column-gap: 30px;
    }

    @include tablet {
        display: block;
    }

    .thing {
      $height: 360px;

      img {
        height: $height;
        object-fit: cover;
        box-sizing: border-box;
        width: 100%;
      }
      .title {
        color: $primary-color;
        font-weight: bold;
        margin-bottom: 8px;
        margin-top: 8px;
      }
      .text {
        font-size: 16px;
        margin-top: 0;
        line-height: 1.6;
      }
      margin-bottom: 30px;
      @include tablet {
          margin-bottom: 50px;
      }

      &:nth-child(2n) img {
        $pad: 32px;
        padding: $pad 0;
        margin-bottom: -$pad;
        @include desktop {
          padding: 0;
          margin-bottom: 0;
        }
      }
      @include large-desktop {
        img {
          height: 300px;
        }
      }
      @include tablet {
        img {
          height: 360px;
        }
      }
      @include desktop {
        &:nth-child(4n - 2) img,
        &:nth-child(4n - 1) img {
          $pad: 24px;
          padding: $pad 0;
          margin-bottom: -$pad;
        }
      }

    }
  }