{{ define "main" }}

<script src="https://kwes.io/v2/kwes-script.js" defer></script>

<iframe class="contact-map" frameborder="0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBEINNMJct3N-tGpqeChdkhpgrTreHa7hM&zoom=10&q=willow springs campsite, sa13 3dd" allowfullscreen>
</iframe>

<div class="section contactform">
  <div class="container container-padded">

    <h1>Get in touch</h1>
    <form class="kwes-form" action="https://kwes.io/api/foreign/forms/VKSwSqOglPC4ukKFaTJJ">

      <input placeholder="Your name" type="text" name="name" rules="required">

      <input placeholder="Your email" type="text" name="email" rules="required">

      <input placeholder="Subject" type="text" name="subject" rules="required">

      <textarea placeholder="Message..."  name="message" rows="4" rules="required"></textarea>

      <button type="submit">Submit</button>
    </form>

  </div>
</div>

<div class="section contactdetails">
  <div class="container container-padded ">

    <p class="location">
      <a class="address" href="https://goo.gl/maps/GKFRJ2LRcouph9Zp7" target="_blank">
        {{ range (split site.Params.contact.location "\n") -}}
        <span>{{.}}</span>
        {{end}}
      </a>
    </p>

    <p class="contact">
      <a class="  " href="mailto: {{ site.Params.contact.email}}">{{site.Params.contact.email}}</a>
      <a class="phone" href="tel: {{ site.Params.contact.phone}}">{{site.Params.contact.phone}}</a>
    </p>

    <p class="what3words">Our what3words address is dragon.roaming.gracing</p>

  </div>
</div>

<div class="section directions">
  <div class="container container-padded ">

    <h3>Directions</h3>
    <ol>
      {{ range .Params.directions  -}}
      <li>{{.}}</li>
      {{ end }}
    </ol>

  </div>
</div>

{{ end }}
