{{ define "main" }}
{{ with site.GetPage "/thingstodo"}}

{{ partial "partials/banner.html" . }}
<section class="section content">
  <div class="container container-padded">
    {{ partial "partials/copyblock.html" . }}
  </div>
</section>

{{ with .Params.thingstodo }}
<section class="section thingstodo">
  <div class="container container-widepadded">
    <ul class="things">
      {{ range . -}}
      <li class="thing">
        <a href="{{.href | relURL}}" target="_blank">
          <img src="{{.img | relURL}}"/>
          <h3 class="title">{{.title}}</h3>
          <p class="text">{{.text}}</p>
        </a>
      </li>
      {{end}}
    </ul>
  </div>
</section>
{{ end }}

{{ end }}
{{ end }}