body {
  margin: 0;
  color: $black-text;
}
ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

iframe {
  border: 0;
}

img{
  max-width: 100%;
  height: auto;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
  color: $primary-color;
}

blockquote {
  font-size: 18px;
  border-color: $primary-color;
  padding: 20px 40px;
  text-align: left;
  color: #777;
}

.navbar-toggle .icon-bar {
  background: $primary-color;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="tel"] {
  box-shadow: none;
  height: 45px;
  outline: none;
  font-size: 14px;

  &:focus {
    box-shadow: none;
    border: 1px solid $primary-color;
  }
}


.form-control {
  box-shadow: none;
  border-radius: 0;

  &:focus {
    box-shadow: none;
    border: 1px solid $primary-color;
  }
}


.slick-slide {
  outline: 0
}


// Button Style

.btn-main {
  background: $primary-color;
  color: $light;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 14px 35px;
  text-transform: uppercase;
  border-radius: 0;
  @include transition (all, 0.2s, ease);

  &.btn-icon {
    i {
      font-size: 16px;
      vertical-align: middle;
      margin-right: 5px;
    }
  }

  &:hover {
    background: darken($primary-color, 20%);
    color: $light;
  }
}


.btn-solid-border {
  border: 1px solid $light;
  background: transparent;
  color: $light;

  &:hover {
    border: 1px solid $primary-color;
    background: $primary-color;
  }
}


.btn-transparent {
  @extend .btn-main;
  background: transparent;
  padding: 0;
  color: $primary-color;

  &:hover {
    background: transparent;
    color: $primary-color;
  }
}

.btn-large {
  padding: 20px 45px;

  &.btn-icon {
    i {
      font-size: 16px;
      vertical-align: middle;
      margin-right: 5px;
    }
  }
}

.btn-small {
  @extend .btn-main;
  padding: 10px 25px;
  font-size: 12px;
}

.btn-round {
  border-radius: 4px;
}

.btn-round-full {
  border-radius: 50px;
}


.btn.active:focus,
.btn:active:focus,
.btn:focus {
  outline: 0;
}


.mt-10 {
  margin-top: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.btn:focus {
  color: #ddd;
}

.w-100 {
  width: 100%;
}

.margin-0 {
  margin: 0 !important;
}


/* preloader */

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-shadow {
  background-color: $light;
  box-shadow: 0 16px 24px rgba(0, 0, 0, .08);
  padding: 20px;
}

.bg-gray {
  background: #f9f9f9;
}

.bg-primary {
  background: $primary-color;
}

.bg-primary-dark {
  background: darken($primary-color, 10%);
}

.bg-primary-darker {
  background: darken($primary-color, 20%);

}

.bg-dark {
  background: #202122;
}


.section {
  padding: 50px 0;

  @include tablet {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

// Social Media Icons
.social-media-icons {
  ul {
    li {
      display: inline-block;

      a {
        font-size: 18px;
        color: #333;
        display: inline-block;
        padding: 7px 12px;
        color: $light;

      }

      .twitter {
        background: #00aced;
      }

      .facebook {
        background: #3b5998;
        padding: 7px 18px;
      }

      .googleplus {
        background: #dd4b39;
      }

      .dribbble {
        background: #ea4c89;
      }

      .instagram {
        background: #bc2a8d;
      }
    }
  }
}

.banner {
  height: 500px;
  background-size: cover;
  position: relative;
  .banner-copy {
    position: absolute;
    width: 40%;
    bottom: 20px;
  }
  .banner-category {
    color: white;
  }
  .banner-text {
    color: white;
    h1 {
      margin-top: 0;
    }
  }
}

.copyblock {
  background: $light-bg;
}

.section.extras .container {
  border-top: 4px solid #E8E3D8;
}

.things {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;

  .thing {
    img {
      height: 300px;
      object-fit: cover;
    }
    .title {
      color: $primary-color;
      font-weight: bold;
      margin-bottom: 8px;
    }
    .text {
      font-size: 14px;
      margin-top: 0;
      line-height: 1.6;
    }
  }
}

.tick {
  // <svg xmlns="http://www.w3.org/2000/svg" version="1.0" viewBox="0 0 100 100"><path d="M92 4L40 84 5 60" fill="none" stroke="green" stroke-width="14"/></svg>
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMCIgdmlld0JveD0iMCAwIDEwMCAxMDAiPjxwYXRoIGQ9Ik05MiA0TDQwIDg0IDUgNjAiIGZpbGw9Im5vbmUiIHN0cm9rZT0iZ3JlZW4iIHN0cm9rZS13aWR0aD0iMTQiLz48L3N2Zz4=);
  display: inline-block;
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
}

.cross {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIHN0cm9rZT0iZ3JlZW4iIHN0cm9rZS13aWR0aD0iMS41IiBkPSJNMTIgMTFMMjIgMWwxIDEtMTAgMTAgMTAgMTAtMSAxLTEwLTEwTDIgMjNsLTEtMSAxMC0xMEwxIDJsMS0xIDEwIDEweiIvPjwvc3ZnPg==);
  display: inline-block;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
}