.container {
  margin: auto;
  max-width: 1300px;
  width: 100%;
  box-sizing: border-box;
  &.container-padded {
    padding: 0 60px;
    @include tablet {
      padding: 0 20px;
    }
    @include mobile {
      padding: 0 10px;
    }
  }
  &.container-widepadded {
    @include large-desktop {
      padding: 0 60px;
    }
    @include tablet {
      padding: 0 20px;
    }
    @include mobile {
      padding: 0 10px;
    }
  }

  h1 {
    font-size: 48px;
  }
  h1, h2, h3 {
    color: $dark-text;
    font-weight: 700;
  }

  .contact a {
    display: block;
    line-height: 2;
  }
}

section.content {
  background: $light-bg;
}

.booking-embed {
  background: $light-bg;
  padding-bottom: 0;
  padding-top: 20px;
  .embed-scroll {
    width: 100%;
    overflow-x: auto;
    @include large-desktop {
      border: 1px solid rgba(0,0,0,0.05);
    }
  }
  .embed-container {
    width: 1000px;
  }

  &.booking-embed-huts {
    .small-embed {
      display: none;
      margin: auto;
      width: fit-content;

    }
    @include tablet {
      .wide-embed {
        display: none;
      }
      .small-embed {
        display: block;
      }
    }
  }
}

.camping-embed {
  display: block;
  float: right;
  margin-left: 100px;
  @include tablet {
    float: none;
    margin: auto;
    width: fit-content;
  }
}