$primary-color: #AC5628;
$dark-text: #8E4118;
$secondary-color: #1bbb1b;
$black-text: #312e24;
$success: #1bbb1b;
$black: #000;
$alert:#c7254e;
$border-color:#dedede;
$primary-font:'Metropolis', sans-serif;
$secondary-font:'Volkhov', serif;
$icon-font: 'themefisher-font';

$light: #ABAB8F;

$light-bg: #FEFAF0;
$dark-bg: #2E3E36;
$darker-bg: #25302B;

